@import models.Cart
@(id: Int, cart: Form[Cart])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.CartController.formUpdateHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(cart("userId"))
    @inputText(cart("productId"))
    @inputText(cart("discount"))
    @inputText(cart("quantity"))

    <div class="buttons">
        <input type="submit" value="Update Cart"/>
    </div>
}