@import models.CartItem
@(id: Int, cart: Form[CartItem])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.CartItemController.formUpdateHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(cart("userId"))
    @inputText(cart("productId"))
    @inputText(cart("quantity"))

    <div class="buttons">
        <input type="submit" value="Update Cart"/>
    </div>
}