@import models.Order
@(id: Int, order: Form[Order])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.OrderController.formDeleteHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(order("userId"), Symbol("readonly") -> "readonly")
    @inputText(order("deliveryId"), Symbol("readonly") -> "readonly")
    @inputText(order("paymentId"), Symbol("readonly") -> "readonly")

    <div class="buttons">
        <input type="submit" value="RemoveOrder"/>
    </div>
}