@import models.Payment
@(id: Int, payment: Form[Payment])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.PaymentController.formDeleteHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(payment("status"), Symbol("readonly") -> "readonly")
    @inputText(payment("updatedAt"), Symbol("readonly") -> "readonly")

    <div class="buttons">
        <input type="submit" value="Delete Payment"/>
    </div>
}