@import models.Return
@(id: Int, areturn: Form[Return])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ReturnController.formDeleteHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(areturn("orderId"), Symbol("readonly") -> "readonly")
    @inputText(areturn("status"), Symbol("readonly") -> "readonly")

    <div class="buttons">
        <input type="submit" value="Delete Return"/>
    </div>
}