@import models.SpecialOffer
@(id: Int, specialOffer: Form[SpecialOffer])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.SpecialOfferController.formUpdateHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(specialOffer("name"))
    @inputText(specialOffer("discount"))

    <div class="buttons">
        <input type="submit" value="Update SpecialOffer"/>
    </div>
}