@(specialOffers: Seq[SpecialOffer])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>specialOffer list</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <a href="@controllers.routes.HomeController.index()">Back to main page</a>
        <br>
        <a href="@controllers.routes.SpecialOfferController.formCreate()">Create new special offer</a>
        <h1>Special offers:</h1>
        @for(specialOffer <- specialOffers) {
            @specialOffer.id
            @specialOffer.name
            @specialOffer.discount
            <a href="@controllers.routes.SpecialOfferController.formUpdate(specialOffer.id.getOrElse(-1))">Edit</a>
            <a href="@controllers.routes.SpecialOfferController.formDelete(specialOffer.id.get)">Delete</a>
            <br>
            }
    </body>
</html>
