@import models.User
@(id: Int, user: Form[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.UserController.formUpdateHandler) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@id" type="hidden" />
    @inputText(user("name"))
    @inputText(user("email"))
    @inputText(user("password"))
    @inputText(user("city"))
    @inputText(user("address"))

    <div class="buttons">
        <input type="submit" value="Update User"/>
    </div>
}